@model Project_SET.Models.PoliceComplaint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PoliceComplaint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNIC_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNIC_ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPLAINT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPLAINT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DEPT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DEPT_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CNIC_NO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
